.column {
  /* flex: 0 0 50%; */
  text-align: left;
  margin: 20px;
}
.bullet {
  /* color: #02838a; */
  font-weight: 200;
  font-size: var(--subtitle-font-size);
  margin: 10px 0;
}
@media (max-width: 792px) {
  .column {
    text-align: center;
  }
  .bullet {
    font-size: 1rem;
  }
}
