.form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  font-family: Montserrat;
}

.form > .formItem {
  margin: 10px;
}

.formItem {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.label {
  font-family: var(--title-font-family);
  font-weight: var(--title-font-weight);
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
}

.input {
  color: white;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 600;
  padding: var(--padding-sm);
  border: 2px solid white;
  border-radius: 5px;
  background: #ffffff17;
  margin: 10px 0;
}
.input:focus {
  outline: none;
}

.errorMessage {
  color: #ff9c9c;
  font-weight: 600;
}

.submitButton {
  background: #ff470f;
  border: 2px solid white;
  color: white;
  padding: 14px;
  font-size: 14px;
  border-radius: 30px;
  letter-spacing: 2px;
  font-weight: unset;
  margin: 20px auto;
  font-family: var(--secondary-font-family);
  cursor: pointer;
  display: block;
  transition: background 500ms;
}

.submitButton:disabled {
  background-color: #ff470f5d;
}

.success {
  background: #e754ff;
}

.error {
  background: #ff3737;
}

.fetching {
  background: lightblue;
}
