.form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}

.form > .formItem {
  margin: 10px;
}

.formItem {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.label {
  font-weight: bold;
}

.input {
  padding: var(--padding-sm);
  font-size: 1.2rem;
}

.errorMessage {
  color: red;
}

.submitButton {
  background: #ff470f;
  border: 2px solid white;
  color: white;
  padding: 14px;
  font-size: 14px;
  border-radius: 30px;
  letter-spacing: 2px;
  font-weight: unset;
  margin: auto;
  font-family: var(--secondary-font-family);
  cursor: pointer;
  display: block;
  transition: background 500ms;
}

.submitButton:disabled {
  background-color: #ff470f5d;
}

.success {
  background: #e754ff;
}

.error {
  background: #ff3737;
}

.fetching {
  background: lightblue;
}
