.backgroundContainer {
  position: relative;
  border: 12px solid white;
  height: 100%;
}
.backgroundImage {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: brightness(0.75);
  /* border-radius: 20px; */
  background-position: center;
}
.backgroundImage2 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../public/landscape_sunset_smoll.png");
  background-size: cover;
  background-position: center;
}
.topBackgroundImage {
  background-image: url("../public/landscape_smoll.png");
}
.gradientBackground {
  background: rgb(9, 94, 116);
  background: linear-gradient(
    132deg,
    rgb(239 160 127) 13%,
    rgb(129 201 211) 100%
  );
  background: linear-gradient(179deg, #ffffff38 30%, #305b87 60%);

  filter: brightness(1);
}
.mainContainer {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 2rem;
  font-family: Montserrat;
  font-weight: 600;
  color: white;
  display: flex;
  flex-direction: column;
}
.eventDetails {
  color: white;
  font-weight: 200;
  font-size: var(--subtitle-font-size);
  background: linear-gradient(360deg, #afafaf00 0%, #92e3b2);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  color: white;
  padding: 20px 20px 60px;
  display: flex;
  align-items: center;
}
.boldSubtitle {
  font-size: var(--subtitle-font-size);
  letter-spacing: 1px;
  font-weight: 300;
  font-family: var(--secondary-font-family);
  margin-bottom: 5px;
}
.detail {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}
.titleDiv {
  max-width: 710px;
  align-self: center;
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.title {
  font-family: var(--title-font-family);
  font-weight: var(--title-font-weight);
  font-style: normal;
  font-size: var(--title-font-size);
  color: white;
  text-transform: uppercase;
  line-height: 56px;
  text-align: center;
  letter-spacing: 3px;
}
.subtitle {
  color: white;
  font-weight: 400;
  font-size: var(--subtitle-font-size);
  margin: 20px 0;
  text-shadow: 2px 2px #d98686;
  max-width: 500px;
}
.scrollContainer {
  position: absolute;
  bottom: 2rem;
  width: 100%;
  height: 110px;
  left: 0;
  text-align: center;
}
.scroll {
  text-transform: lowercase;
}
.scroll::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0.1rem;
  height: 4.8rem;
  background-color: white;
}
.contentWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 10px;
}
.featureDiv {
  text-align: center;
  /* margin-top: 2rem; */
  width: 80%;
  max-width: 800px;
  background: #4e4c4c;
  box-shadow: black 11px 11px;
  padding: 40px;
  border-radius: 30px;
}
.bulletPoints {
  display: flex;
  margin-top: 20px;
}
.smallText {
  margin-top: 20px;
  font-size: 1rem;
}
.emailContainer {
  /* width: 530px; */
  text-align: center;
  /* margin-top: 100px; */
}
.emailInput {
  display: block;
  width: 100%;
  border: 2px solid white;
  background: #ffffff17;
  color: white;
  border-radius: 5px;
  font-size: 15px;
  padding: 10px;
  letter-spacing: 1px;
  font-weight: 600;
  margin: 10px 0 15px 0;
}
.emailInput:focus {
  outline: none;
  background: none;
}
.mainButton {
  background: #ff470f;
  width: 200px;
  border: none;
  color: white;
  padding: 14px;
  font-size: 14px;
  border-radius: 30px;
  letter-spacing: 2px;
  font-weight: unset;
  margin: auto;
  font-family: var(--secondary-font-family);
  cursor: pointer;
  display: block;
}
.mainButton:hover {
  background: #ff470fcf;
}
.footer {
  /* position: absolute; */
  text-align: center;
  padding: 20px;
}
.footer > .detail {
  letter-spacing: 0.5px;
  line-height: unset;
  font-weight: 500;
}
.footerImgContainer {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  max-width: 700px;
  margin: auto;
}
.footerImgContainer > div {
  flex: 0 0 40%;
}
.greenLine {
  background: white;
  height: 4px;
  width: 71%;
  margin: 10px 0px -8px;
}
@media (max-width: 600px) {
  .mainContainer {
    padding: 1rem;
  }
  .titleDiv {
    /* margin: 4rem 0; */
  }
  .title {
    font-size: var(--title-mobile-font-size);
    letter-spacing: 1px;
    /* text-align: left; */
  }
  .eventDetails {
    padding: 13px 10px 60px;
  }
  .subtitle {
    font-size: var(--subtitle-mobile-font-size);
  }
  .boldSubtitle {
    /* text-align: center; */
    font-size: 1rem;
  }
  .emailTitle {
    font-size: 16px;
  }
  .detail {
    display: block;
    /* text-align: center; */
    font-size: 0.8rem;
  }
  .featureDiv {
    padding: 20px;
  }
  .footer {
    width: 100%;
    /* text-align: center; */
    /* bottom: 2rem; */
  }
  .bulletPoints {
    display: unset;
    font-size: 1rem;
  }
  .featureDiv {
    width: 100%;
  }
}
