.backgroundContainer {
  position: relative;
  border: 12px solid white;
  height: 100%;
}
.backgroundImage {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../public/landscape.jpg");
  background-size: cover;
  filter: brightness(0.75);
  border-radius: 20px;
  background-position: center top;
}
.mainContainer {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 2rem;
  font-family: Montserrat;
  font-weight: 600;
  color: white;
  display: flex;
  flex-direction: column;
}
