.time {
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: 500;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
}

.room {
  font-size:1.2rem;
  font-weight:500;
  padding:2px 0px;
  letter-spacing: .5px;
}

.description {
}
